input#getPrivate[type="checkbox"] {
            width: 18px;
            height: 18px;
            margin-top: 0;
            background-color: #fff;            
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            color: #fff;
            text-align: center;
            line-height: 15px;
            -webkit-appearance:none;
            -moz-appearance:none;
            -ms-appearance:none;
            -o-appearance:none;
            appearance:none;
            outline: none;
        }

        input#getPrivate[type="checkbox"]:hover {
            border-color: var(--bearhoney-accent-color);
        }

        input#getPrivate[type="checkbox"]:checked {
            color: #fff;
            background-color: var(--bearhoney-accent-color);
            border: 1px solid var(--bearhoney-accent-color);
        }

        input#getPrivate[type="checkbox"]:after {
            content: "✔";
        }
.bear-comments-container {
     min-height:0!important;
}
.comment-controls {
    display: flex;
    align-items: center;
}

.comment-smile {
    margin-right: 15px; 
    margin-bottom:10px;

}